rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    match /brands/{brandId} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /campaigns/{campaignId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /masterMenuItems/{itemId} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /menuItems/{itemId} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /orders/{orderId} {
      allow create, read, update: if true;
      allow delete: if isSignedIn();
    }
    
    match /transactions/{txnId} {
      allow create, read: if true;
      allow update, delete: if isSignedIn();
    }
    
    match /subscriptions/{subId} {
      allow create: if true;
      allow read, update, delete: if isSignedIn();
    }
    
    match /users/{userId} {
      allow read, write: if isSignedIn();
    }
    
    match /logins/{loginId} {
      allow read, write: if isSignedIn();
    }

    match /leads/{leadId} {
      allow create: if true;
      allow read, update, delete: if isSignedIn();
    }

    match /contactEnquiries/{enquiryId} {
      allow create: if true;
      allow read, update, delete: if isSignedIn();
    }

    match /campaignLogs/{logId} {
      allow create: if true;
      allow read, update, delete: if isSignedIn();
    }
  }
}
